header{
    height: 100px;
    background-color: aquamarine;
}
section{
    float: left;
    width: 70%;
    background-color: rgb(180, 143, 143);
    height: 200px;
}
aside{
    float:right;
    width: 30%;
    background-color: rgb(175, 175, 222);
    height: 200px;
}
footer{
    clear: both;
    height: 100px;
    background-color: rgb(206, 44, 187);
}
#art{
    display: inline-block;
    width: 40%;
    height: 40px;
    background-color: beige;
}
#art3{
    display: block;
    margin-top: 10px;
    width: 86%;
    background-color: beige;
    height: 40px;
}
article{
    margin-left: 60px;
}
a{
    display: inline-block;
    height: 40px;
    width: 200px;
    background-color: antiquewhite;
    margin-left: 140px;
}   